<div class="content-wrapper">

    <app-breadcrumb></app-breadcrumb>

    <section class="content">
        <div class="container-fluid">


            <div class="row">

                <section class="col-lg-12 connectedSortable">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Postings Details.</h3>
                            <button (click)="openModal()" class="float-right btn btn-primary"> <i class="fas fa-plus"></i> Add Posting</button>
                            <button *ngIf="priv === 'admin'" (click)="editMode()" class="float-right btn btn-primary mr-3"> <i class="fas fa-edit"></i> Edit Mode</button>
                        </div>

                        <div class="card-body">
                            <table id="postingDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Emp ID</th>
                                        <th>Name</th>
                                        <th>Post From</th>
                                        <th>Post To</th>
                                        <th>Region</th>
                                        <th>Effective Date</th>
                                        <th>Release Date</th>
                                        <th>Assumption Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let posting of postingDetails; let i = index">
                                        <td>{{i + 1 }}</td>
                                        <td>{{posting.emp_id}}</td>
                                        <td>{{posting.result[0].emp_firstname+' '+posting.result[0].emp_middlename+' '+posting.result[0].emp_surname}}</td>
                                        <td>{{posting.post_from}}</td>
                                        <td>{{posting.post_to}}</td>
                                        <td>{{posting.region}}</td>
                                        <td>{{ conDate(posting.effectiveDate) }}</td>
                                        <td>{{ conDate(posting.releaseDate) }}</td>
                                        <td>{{ conDate(posting.assumptionDate) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>

</div>