<div class="card-header">
    <h3 class="card-title">User Details</h3>
</div>

<form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
    <div class="card-body">
        <div class=" row col-md-12">
            <div class="form-group col-md-12">
                <label for="newpassword">New Password</label>
                <input type="password" class="form-control" formControlName="newPassword" required placeholder="New Password" 
                [ngClass]="{'is-invalid' : newPassword?.invalid && newPassword?.touched }">
            </div>
            <div class="form-group col-md-12">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" required placeholder="Confirm Password" 
                [ngClass]="{'is-invalid' : confirmPassword?.invalid && confirmPassword?.touched }">
            </div>
            <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="error-message">
                <div *ngIf="confirmPassword?.hasError('required')">Confirm Password is required.</div>
                <div *ngIf="confirmPassword?.hasError('passwordMismatch')">Passwords do not match.</div>
              </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="button" class="btn btn-danger float-left" (click)="closeModal()">Cancel</button>
        <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-primary float-right">Submit</button>
    </div>
</form>