<div class="content-wrapper">

    <app-breadcrumb></app-breadcrumb>

    <section class="content">
        <div class="container-fluid">


            <div class="row">

                <section class="col-lg-12 connectedSortable">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Promotions Details.</h3>
                            <!-- <button (click)="openModal()" class="float-right btn btn-primary"> <i class="fas fa-plus"></i> Add Promotion</button> -->
                            <!-- <button (click)="openModal()" class="float-right btn btn-primary mr-3"> <i class="fas fa-edit"></i> Edit Mode</button> -->
                        </div>

                        <div class="card-body">
                            <table id="promotionsDataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Emp ID</th>
                                        <th>Name</th>
                                        <th>Promotion History</th>
                                        <th>Notional Date</th>
                                        <th>Substantive Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let promotion of promotionDetails; let i = index">
                                        <td>{{i + 1 }}</td>
                                        <td>{{promotion.emp_id}}</td>
                                        <td>{{promotion.name}}</td>
                                        <!-- <td>{{promotion.promotion_history}}</td> -->
                                        <td>
                                            <table width="100%" class="table table-bordered table-striped">
                                                <thead>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let proHistory of promotionHistory; let i = index">
                                                    <td *ngIf="promotion.emp_id === proHistory.emp_id">{{proHistory.from_place}}</td>
                                                    <td *ngIf="promotion.emp_id === proHistory.emp_id">{{proHistory.to_place}}</td>
                                                    <td *ngIf="promotion.emp_id === proHistory.emp_id">{{conDate(proHistory.start_date)}}</td>
                                                    <td *ngIf="promotion.emp_id === proHistory.emp_id">{{conDate(proHistory.end_date)}}</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </td>
                                        <td>{{ conDate(promotion.notional_date) }}</td>
                                        <td>{{ conDate(promotion.substantive_date) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>

</div>